<%= link_to('<< Back to List', subjects_path, :class => 'back_link') %>

<div class="subjects edit">
  <h2>Update Subject</h2>

  <%= form_for(@subject) do |form| %>

    <%= render(:partial => 'form', :locals => { :form => form }) %>

    <div class="form-buttons">
      <%= form.submit('Update Subject') %>
    </div>

  <% end %>
</div>
